<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  
  <!-- Cuando NO es formulario [(ngModel)] -->
  <ion-card>
    <ion-card-header>Iniciar sesión!</ion-card-header>
    <ion-card-content> 
      <ion-input [(ngModel)]="correo" type="email" label="Correo" labelPlacement="stacked" fill="outline"></ion-input>
      <br>
      <ion-input [(ngModel)]="contrasena" type="password" label="Contraseña" labelPlacement="stacked" fill="outline"></ion-input>
      <br>
      <ion-button (click)="login(correo, contrasena)" size="block" color="success">INGRESAR</ion-button>
    </ion-card-content>
  </ion-card>
  <div class="center">
    <p>No tienes cuenta? <a routerLink="/registro">Registrate!</a></p>
  </div>

</ion-content>